<%- layout('layouts/main')%>
<div class="form-container">
    <form action="/signin" method="POST">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Contraseña">
      <button type="submit">Registrarse</button>
    </form>
  </div>

